.Home {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem,
}


.Home h1 {
  font-size: 1.8rem;
  font-weight: bold;
  background-color: orange;
  border-radius: 8px;
  padding: 1rem 4rem;
  margin-bottom: 2rem;
}

.Home p {
  width: 80%;
  font-size: 1.8rem;
  font-weight: bold;
  border: 2px solid orange;
  border-radius: 8px;
  padding: 1rem 4rem;
  margin-bottom: 2rem;
}
