* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: grey;
}

.root {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}
